
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #F0F7FF;

    --card: #000000;
    --card-foreground: #F0F7FF;

    --popover: #000000;
    --popover-foreground: #F0F7FF;

    --primary: #F0F7FF;
    --primary-foreground: #000000;

    --secondary: #000000;
    --secondary-foreground: #F0F7FF;

    --muted: #1E293B;
    --muted-foreground: #94A3B8;

    --accent: #1E293B;
    --accent-foreground: #F0F7FF;

    --destructive: #991B1B;
    --destructive-foreground: #F0F7FF;

    --border: #1E293B;
    --input: #1E293B;
    --ring: #454545;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
